.divone {
  background-color: #000000;
  color: #fff;
  padding: 60px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
  height: 180px;
}

.divhorizontal,
.links,
.customerService,
.contactus {
  flex: 1;
  min-width: 200px;
  margin: 0 60px 0 10px;
}

.divhorizontal {
  margin-left: 160px;
  gap: 5px;
}

.divone h4 {
  font-size: 18px;
  margin-bottom: 12px;
  color: #f5f5f5;
}

.divone p {
  font-size: 14px;
  margin: 6px 0;
  line-height: 1.5;
  color: #ddd;
}

/* ===== Contact Section ===== */
.contactus {
  display: flex;
  flex-direction: column;

  margin-right: 150px;
}

.iconMapPin {
  color: rgb(4, 99, 241);
}

.iconphone {
  color: rgb(169, 250, 48);
}

.iconMail {
  color: rgb(255, 50, 255);
}

.iconsocial {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.footerLine {
  border: 0;
  height: 1px;
  color: #f1f1f1;
  background-color: #f7f4f4;
  width: 73%;

  margin: 14px auto;
}

.divtwo {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0;
  background-color: #000000;
  height: 80px;
}

.divtwo p {
  margin: 0px;
  font-size: 14px;
  color: #ccc;
  margin-left: 250px;
}

.terms {
  display: flex;

  gap: 1px;
}

.terms p {
  margin: 0;
  cursor: pointer;
  transition: color 0.3s ease;
  white-space: nowrap;
  margin-right: 150px;
}

.terms p:hover {
  color: #fff;
}
